:root {
  --color-bg: #14181C;
  --color-card-bg: #202930;
  --color-card-caption: #435060;
  --card-width: 180px;
  --minor-radius: 4px;
}
body {
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-bg);
  padding: 4rem;
}
body * {
  box-sizing: border-box;
}

.cards {
  display: flex;
  justify-content: space-around;
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: .5rem;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  width: var(--card-width);
  margin: 0;
}

.card > div {
  position: relative;
  transition: all 0.55s cubic-bezier(0,.36,.39,1);
  overflow: hidden;
  border-radius: var(--minor-radius);
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}
.card > div:before {
  content: "";
  width: 600px;
  height: 240px;
  rotate: 30deg;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0), 35%, rgba(255,255,255,0.55));
  position: absolute;
  transition: all 0.55s cubic-bezier(0,.36,.39,1);
  left: -30px;
  top: -60px;
}
.card > div:after {
  transition: all 0.55s cubic-bezier(0,.36,.39,1);
  content: "";
  width: 178px;
  height: 99%;
  position: absolute;
  border: 1px solid rgba(255,255,255,0.15);
  top: 0;
  left: 0;
  border-radius: 6px;
}
.card > div img {
  width: var(--card-width);
  object-fit: fill;
  border-radius: var(--minor-radius);
  display: block;
}

.card > figcaption {
  font-size: .8rem;
  color: var(--color-card-caption);
  padding: 1rem 0;
}

.card > div:hover {
  scale: 108%;
  transform: perspective(400px) rotateX(9deg) translateY(-3%);
}

.card > div:hover:before {
  height: 300px;
}
.card > div:hover:after {
  border-top: 1px solid rgba(255,255,255,0.6);
}
